*.class
*.log
*.DS_Store

/.idea
*.iml

dist/*
/target
/*/target/
/project/project
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
/.bsp

*.gpg

/cdk.out

/.secrets/*
/outputs/*
/caches/
/cache/